<div class="hero-unit">

<%= image_tag "JBVC_clip_image002_0000.png", size: "231x158", alt: "Logo: 3 birds fly freely toward the cross" %>

<h2>Joy Beyond Vision Community (JBVC)</h2>
<h3>Let us be strong and courageous in the Light of God</h3>

<p>The Joy Beyond Vision Community (JBVC) is a Christian ministry that serves the blind and visually impaired people (VIP) by supporting them in their journey to overcome visual impairment and live a fulfilling life with dignity. </p>

</div>