<%= render "head" %>
<div class="row">
<div class="span8">
<h2>About JBVC</h2>
<p>Joy Beyond Vision Community (JBVC) has become a subsidiary of 
<%= link_to "Christian Aid & Relational Evangelism (CARE)", "http://www.careministries.ca" %>
since January 2006. The ministry specifically serves the blind and visually impaired people (VIP). It began as a fellowship of a small group of people which now grows to a monthly gathering of over 40 people. Also growing is the amazing group of faithful and loving Christian volunteers who always accompany the group of VIP at the meetings. The fellowship activities are geared to care for the physical and mental health of the VIP and some examples of the activities include fishing, hiking, BBQ, volunteering, as well as workshops that range from traffic safety, fire safety, to other domestic safety concerns. Devotion, sharing of God’s words, and personal experiences with God is integral components of every meeting. Occasionally, there are also churches that come to hold evangelical sharing meetings with VIP.</p>

<h2>關於樂明視障團</h2>
<p>從2006年一月至今，『『樂明視障團契是屬<%= link_to "『福愛傳道社』", "http://www.careministries.ca" %>其中的個事工。主要服務對象是本地的失明及弱視人士。團契由一少撮人開始，今天參加每月的聚會人士已到達四十多人。感恩的是有一班忠心又有愛心的基督徒義工經常陪伴著這群視障的人士。團契曾舉辦過許多有益於身、心。靈的活動。例如做義工、釣魚、遠足、燒烤等活動；又有尃題講座如：各種科技班；交通安全、家居防火等知識；每次聚會都有靈修，分享神的話及如何經歷神、更有教會來舉辦福音聚會。</p>
</div>
<div class="span4">
<%= render "end" %>
</div>
</div>