<%= render "head" %>
<div class="row">
<div class="span8">
<h2>Meeting schedule</h2>
<p>Joy Beyond Vision Community (JBVC) regular meeting is on the last Saturday of each month</p>

<p>except July, August &amp; December. The time is from <strong>11:00AM to 2:30PM.</strong></p>

<p>The July and August programs are out-dooring programs, and they can be on any Saturday.</p>

<p>Our December program is celebrating Christmas and it is on the second Saturday.</p>

<p>Lunch is part of each program, and participants will be sharing the cost of the food.</p>

<p>Please <%= mail_to "info@jbvc.ca", "contact us" %> if you wish to find out any information about each program.</p>

<h2>聚會時間</h2>

<p>樂明視障團聚會時間除了七月、八月及十二月之外，其它月份是在月尾的最後的一個星期六。時間是從上午十一時至下午二時三十分。</p>

<p>七月和八月份是戶外活動，聚會時間可以在任何一個星期六。</p>

<p>十二月是慶祝聖誕節，聚會是在第二個星期六、時間是從從上午十一時至下午二時三十分。</p>

<p>個聚會包括午餐，參加者將會分擔食物的費用。若要詳細瞭解有關聚會資料，請<%= mail_to "info@jbvc.ca", "聯絡我們：" %></p>

</div>
<div class="span4">
<%= render "end" %>
</div>
</div>