<%= render "head" %>
<div class="row">
<div class="span8">
<h2>Contact</h2>
<p>For more information about JBVC and our initiatives, contact Danny Leung at:
<br />
Info @ jbvc.ca<br />
647.558.JBVC (5282)</p>

<h2>聯絡我們</h2>
<p>如若查詢本團服務，可至電及電郵到以下號碼及電郵地址。<br />
查詢電話： 647-558-JBVC (5282) 或電郵：info @ jbvc.ca 梁立安傳道</p>
</div>
<div class="span4">
<%= render "end" %>
</div>
</div>