<%= render "head" %>
<h2>Goals</h2>
<ul>
<li>To build up skills and confidence in VIP through regular meetings, workshop trainings, referrals, one-on-one mentoring, and peer support with the goal to support visually impaired people to live independently and care for each other with dignity;</li>
<li>To share the ministry with churches and community partners through educational workshops with the goal to educate the public, churches, and family members of VIP so as to nurture more comprehensive social support network for the VIP;</li>
<li>To witness Christ and share the Good News with VIP and their family members;</li>
<li>To support VIP to live more fulfilling and fruitful lives by providing audio information and other accessibility resources; and</li>
<li>To provide vocational and volunteering opportunities to VIP so that they can become contributing members with positive self-worth in the society.</li>
</ul>

<h2>目標</h2>
<ul>
<li>透過定期活動、訓練、轉介、個人指導、自學、以及互相支持，使視障人士能建立自信心和尊嚴，使他們能夠獨立生活，並達至彼此關顧扶助</li>
<li>透過教育、研討會和培訓。使視障人士的家屬、朋友、教會、及社會大眾能對視障人士建立正確的認識和幫助。</li>
<li>透過傳福音，使視障人士和家屬能認識耶穌基督的救恩。</li>
<li>透過各類資訊的搜集，製作有聲書藉，充實視障人士的生活，令生活更多姿多彩</li>
<li>透過協助就業、及義工機會，提升視障人士的自我價值，使視障人士同樣可以回饋社會。</li>
</ul>