<%= render "head" %>
<h2>Looking Forward</h2>
<p>Our mission is to promote our ministry and the awareness of the services for VIP to the community as well as to appeal to the Christian community for participation and volunteering in our ministry services. In return, we will also mobilize our VIP to participate in community and/or church events. Furthermore, we want to connect with like-minded organizations in North American and beyond to promote the quality and scope of our services.</p>

<h2>展望</h2>
<p>盼望在不久將來能將樂明視障團契的服務在教會及社區更推廣。希望更多基督徒參與樂明視障團義工服務。更希望能與北美及世界各地同類型的事工機構聯繫、集思廣益，更能推廣服務範圍及質數。</p>
